<link rel="stylesheet" href="/static/style.css">

<h1>スコア履歴</h1>

<div class="card">
    <table border="1" cellpadding="8" style="margin:auto;">
        <tr>
            <th>日時</th>
            <th>正解</th>
            <th>問題数</th>
            <th>モード</th>
        </tr>

        {% for s in scores %}
        <tr>
            <td>{{ s.date }}</td>
            <td>{{ s.correct }}</td>
            <td>{{ s.total }}</td>
            <td>{{ s.mode }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/admin">← 管理者メニューへ</a>
</div>
